---
layout: base.njk
title: "Teaspoon Starter Club – Teaspoon Club: angličtina pro seniory"
description: "Kurz angličtiny pro úplné začátečníky v seniorském věku. Pohodové tempo, malá skupinka a přátelská atmosféra. Přihlaste se do Teaspoon Starter Clubu v Praze."
bodyClass: "wp-singular page-template-default page page-id-304 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
hcaptcha: true
---

<div class="post-304 page type-page status-publish hentry" id="page-304">
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-2x grve-padding-bottom-2x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-text">
              <h4 class="heading">pro úplné začátečníky</h4>
              <h4 class="heading">PODZIM 2026/2027 od 1. 10. 2026</h4>
              <p>ČTVRTEK 16:15 – 17:45 (úplní začátečníci) s Veronikou</p>
              <h4 class="heading">maximálně 12 studentů ve skupině</h4>
              <ul>
                <li dir="ltr">90minutová setkání</li>
                <li dir="ltr">úplní začátečníci a úplné začátky, seznámení s jazykem, studijní dovednosti a techniky</li>
                <li dir="ltr">falešní začátečníci: upevnění slovní zásoby, začátečnická gramatika, základní orientace v
                  běžných situacích</li>
                <li dir="ltr">čaj a káva</li>
                <li dir="ltr">400 m od stanice metra B, Karlovo náměstí &amp; 300 m od zastávky tramvaje Moráň</li>
              </ul>
            </div>
            {% include "location-emauzy.njk" %}
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-image rounded grve-align-center" style="">
              <div class="grve-image-wrapper">{% image "zacatecnici.jpg", "", "(max-width: 768px) 100vw, 768px", "high" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-2x grve-padding-bottom-2x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-40">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-2246a0da94329484 uvc-639"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-2246a0da94329484"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-2246a0da94329484 h3">
                <h3 style="font-weight:bold;">Kolik?</h3>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text" style="margin-bottom:2em;">
              <p>Cena kurzu je <strong style="color:#a20802;">3 600 Kč za semestr (14 týdnů)</strong>.</p>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-81796a0da94329533 uvc-5618"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-81796a0da94329533"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-81796a0da94329533 h3">
                <h3 style="font-weight:bold;">Učební materiály:</h3>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <p>V kurzu budeme používat knihu <strong>English File 4th edition (s video-podporou)</strong>. Ze začátku ji
                nebudeme potřebovat.  Jakmile si budeme jistí vaší úrovní, knihu si ode mne bude možné koupit.</p>
              <p>K dispozici vám budou česko-anglické slovníky, cvičebnice gramatiky a další materiály. Ve výuce
                používám spousty doplňkových aktivit a řadu užitečných materiálů také dostanete zdarma.</p>
            </div>
          </div>
        </div>
        {% include "payment-terms-column.njk" %}
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  {% set courseFormType = "starter" %}
  {% include "course-registration.njk" %}
</div>
