<div class="grve-element grve-text" style="margin-bottom:2em;">
  <p>Je to jednoduché. <strong>Zavolejte mi na +420 605 477 433</strong>, popovídáme si o vaší představě a o tom, jak
    to u nás probíhá 🙂 Pak vám navrhnu kurz, který by vám nejlépe vyhovoval a probereme i časové možnosti. Nebo
    můžete <strong>vyplnit níže uvedenou přihlášku</strong> a já se vám telefonicky ozvu 🙂.
  </p>
</div>
<div class="grve-element grve-text" style="padding:1.3em;background-color:#f4efea;border-radius:5px;">
  <div class="caldera-grid" data-cf-form-id="CF68b0b34921064" data-cf-ver="1.9.7" id="caldera_form_1">
    <div data-spinner="/wp-admin/images/spinner.gif" id="caldera_notices_1"></div>
    <form aria-label="Prihlaska" class="CF68b0b34921064 caldera_forms_form cfajax-trigger"
      data-action="cf_process_ajax_submit" data-cfajax="CF68b0b34921064"
      data-form-id="CF68b0b34921064" data-hiderows="true" data-instance="1"
      data-load-class="cf_processing" data-load-element="_parent" data-post-disable="0"
      data-request="/cf-api/CF68b0b34921064" data-target="#caldera_notices_1"
      data-template="#cfajax_CF68b0b34921064-tmpl" enctype="multipart/form-data"
      id="CF68b0b34921064_1" method="POST">
      <input data-nonce-time="1779280190" id="_cf_verify_CF68b0b34921064" name="_cf_verify"
        type="hidden" value="e50276e784" /><input name="_wp_http_referer" type="hidden" value="/" />
      <div id="cf2-CF68b0b34921064_1"></div><input name="_cf_frm_id" type="hidden"
        value="CF68b0b34921064" />
      <input name="_cf_frm_ct" type="hidden" value="1" />
      <input name="cfajax" type="hidden" value="CF68b0b34921064" />
      <input name="_cf_cr_pst" type="hidden" value="10" />
      <div class="hide" style="display:none; overflow:hidden;height:0;width:0;">
        <label>Company</label><input autocomplete="off" name="company" type="text" value="" />
      </div>
      <div class="row first_row" id="CF68b0b34921064_1-row-1">
        <div class="col-sm-12 single">
          <div class="form-group" data-field-wrapper="fld_3688899" id="fld_3688899_1-wrap">
            <label class="control-label" for="fld_3688899_1" id="fld_3688899Label">Jméno <span
                aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_3688899Label" aria-required="true" class="form-control"
                data-field="fld_3688899" data-type="text" id="fld_3688899_1" name="fld_3688899"
                required="" type="text" value="" />
            </div>
          </div>
          <div class="form-group" data-field-wrapper="fld_6829296" id="fld_6829296_1-wrap">
            <label class="control-label" for="fld_6829296_1" id="fld_6829296Label">Příjmení <span
                aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_6829296Label" aria-required="true" class="form-control"
                data-field="fld_6829296" data-type="text" id="fld_6829296_1" name="fld_6829296"
                required="" type="text" value="" />
            </div>
          </div>
          <div class="form-group" data-field-wrapper="fld_6830845" id="fld_6830845_1-wrap">
            <label class="control-label" for="fld_6830845_1" id="fld_6830845Label">Emailová adresa
              <span aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_6830845Label" aria-required="true" class="form-control"
                data-field="fld_6830845" data-type="email" id="fld_6830845_1" name="fld_6830845"
                required="" type="email" value="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="CF68b0b34921064_1-row-2">
        <div class="col-sm-12 single">
          <div class="form-group" data-field-wrapper="fld_645468" id="fld_645468_1-wrap">
            <label class="control-label" for="fld_645468_1" id="fld_645468Label">Telefon <span
                aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_645468Label" aria-required="true" class="form-control"
                data-field="fld_645468" data-inputmask="'mask': '999 999 999'" data-type="phone"
                id="fld_645468_1" name="fld_645468" required="" type="phone" value="" />
            </div>
          </div>
          <div class="form-group" data-field-wrapper="fld_1091875" id="fld_1091875_1-wrap">
            <label class="control-label" for="fld_1091875_1" id="fld_1091875Label">Ulice a č.p./č.o.
              <span aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_1091875Label" aria-required="true" class="form-control"
                data-field="fld_1091875" data-type="text" id="fld_1091875_1" name="fld_1091875"
                required="" type="text" value="" />
            </div>
          </div>
          <div class="form-group" data-field-wrapper="fld_1788797" id="fld_1788797_1-wrap">
            <label class="control-label" for="fld_1788797_1" id="fld_1788797Label">Město <span
                aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_1788797Label" aria-required="true" class="form-control"
                data-field="fld_1788797" data-type="text" id="fld_1788797_1" name="fld_1788797"
                required="" type="text" value="" />
            </div>
          </div>
          <div class="form-group" data-field-wrapper="fld_5727795" id="fld_5727795_1-wrap">
            <label class="control-label" for="fld_5727795_1" id="fld_5727795Label">PSČ <span
                aria-hidden="true" class="field_required" role="presentation"
                style="color:#ee0000;">*</span></label>
            <div class="">
              <input aria-labelledby="fld_5727795Label" aria-required="true" class="form-control"
                data-field="fld_5727795" data-type="text" id="fld_5727795_1" name="fld_5727795"
                required="" type="text" value="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row last_row" id="CF68b0b34921064_1-row-3">
        <div class="col-sm-12 single">
          <div class="form-group" data-field-wrapper="fld_6566084" id="fld_6566084_1-wrap">
            <label class="control-label" for="fld_6566084_1" id="fld_6566084Label">Poznámka</label>
            <div class="">
              <textarea aria-labelledby="fld_6566084Label" class="form-control"
                data-field="fld_6566084" id="fld_6566084_1" name="fld_6566084" rows="4"
                value=""></textarea>
            </div>
          </div>
          <div class="form-group" data-field-wrapper="fld_7007738" id="fld_7007738_1-wrap">
            <div class="">
              <input class="btn btn-default" data-field="fld_7007738" id="fld_7007738_1"
                name="fld_7007738" type="submit" value="Odeslat" />
            </div>
          </div>
          <input class="button_trigger_1" data-field="fld_7007738" id="fld_7007738_1_btn"
            name="fld_7007738" type="hidden" value="" />
        </div>
      </div>
    </form>
  </div>
  <p>* Povinná políčka</p>
  <p>S veškerými údaji bude zacházeno podle zákona č. 101/2000 Sb., o <strong>ochraně osobních
      údajů</strong>.</p>
  <p>Zasláním své přihlášky souhlasíte s níže uvedenými obchodními podmínkami.</p>
</div>
