<div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-82026a0da943289cf uvc-9713"
  data-halign="left" data-hspacer="line_only" id="ultimate-heading-82026a0da943289cf"
  style="text-align:left">
  <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
    data-ultimate-target=".uvc-heading.ultimate-heading-82026a0da943289cf h3">
    <h3 style="font-weight:bold;">Kde?</h3>
  </div>
  <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
      class="uvc-headings-line"
      style="border-style:solid;border-bottom-width:1px;border-color:#af1b1d;width:autopx;"></span></div>
</div>
<div class="grve-element grve-text">
  <p><strong>Emauzské opatství</strong><em><strong><br />
      </strong></em>Vyšehradská 49/320<br />
    128 00 Praha 2 – Nové Město</p>
  <p>Vstup z ulice Na Slovanech.</p>
</div>
