<div class="grve-column wpb_column grve-column-1-2">
  <div class="grve-column-wrapper">
    <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-62506a0da943296e2 uvc-3787"
      data-halign="left" data-hspacer="line_only" id="ultimate-heading-62506a0da943296e2"
      style="text-align:left">
      <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
        data-ultimate-target=".uvc-heading.ultimate-heading-62506a0da943296e2 h3">
        <h3 style="font-weight:bold;">Platební podmínky</h3>
      </div>
      <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
          class="uvc-headings-line"
          style="border-style:solid;border-bottom-width:1px;border-color:#af1b1d;width:autopx;"></span></div>
    </div>
    <div class="grve-element grve-text">
      <div class="excerpt">
        <p>Po vzájemné dohodě vám na uvedenou e-mailovou adresu pošlu <strong>fakturu</strong>, kterou je třeba
          uhradit na níže uvedený bankovní účet. Vaše místo v kurzu je takto pevně rezervováno.</p>
        <p>Kurzy se platí bankovním převodem na účet (Air Bank):</p>
        <p><strong>1626570018/3030</strong></p>
        <p><strong>Prosím použijte variabilní symbol uvedený ve faktuře.</strong></p>
        <p>Do zprávy pro příjemce uveďte prosím svoje jméno, příjmení a název kurzu. V případě, že nastoupíte do
          kurzu později, zaplatíte samozřejmě jen zbývající lekce.</p>
      </div>
    </div>
  </div>
</div>
