---
layout: base.njk
title: "O mně – Teaspoon Club: angličtina pro seniory"
bodyClass: "wp-singular page-template-default page page-id-236 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
pageStylesFile: "/css/vc-o-mne.min.css"
---

<div class="post-236 page type-page status-publish hentry" id="page-236">
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none grve-custom-height grve-equal-column">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1631978307724">
            <div class="grve-element grve-image rounded grve-align-center" style="">
              <div class="grve-image-wrapper">{% image "konverzace-e1631952057161.jpg", "", "(max-width: 768px) 100vw, 768px", "high" %}</div>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-74186a0da94208ed0 uvc-2345"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-74186a0da94208ed0"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-74186a0da94208ed0 h2">
                <h2 style="font-weight:normal;">Osobní krédo...</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#af1b1d;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <div class="media-body text-left">
                <div class="excerpt">
                  <p dir="ltr">Klienti v pokročilém věku patřili vždy k mým nejoblíbenějším. Proč? Obvykle jsou velmi
                    motivovaní a když se rozhodnou věnovat studiu energii, jsou vidět praktické výsledky. Senioři mívají
                    to, co by se dalo nazvat tah na branku, také veliký nadhled a spoustu životních zkušeností. Je
                    radost je učit.</p>
                  <p dir="ltr">Ráda vytvářím prostředí, ve kterém se studiu daří bez ohledu na věk. Nejvíce mne baví
                    přicházet věcem na kloub a motivovat své klienty k drobným i velkým krokům vpřed.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-3x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-41146a0da9420a6a2 uvc-4362"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-41146a0da9420a6a2"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-41146a0da9420a6a2 h2">
                <h2 style="font-weight:normal;">Moje profesní dráha v číslech:</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#af1b1d;width:autopx;"></span></div>
            </div>
            <div class="grve-row-inner grve-bookmark">
              <div class="grve-column-inner wpb_column grve-column-1-3">
                <div class="grve-column-wrapper-inner vc_custom_1631979593535">
                  <div class="grve-element grve-counter grve-align-center" style="">
                    <div class="grve-counter-content">
                      <div class="grve-counter-item grve-h3 grve-text-primary-1 grve-custom-font-1"> <span
                          data-decimal-points="0" data-decimal-separator="," data-end-val="1700+" data-prefix=""
                          data-start-val="0" data-suffix=" +" data-thousands-separator="."
                          data-thousands-separator-vis="">0</span> </div>
                      <h3 class="grve-counter-title grve-h3 grve-custom-font-1"><i class="Defaults-users"></i> klientů
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grve-column-inner wpb_column grve-column-1-3">
                <div class="grve-column-wrapper-inner vc_custom_1631979603226">
                  <div class="grve-element grve-counter grve-align-center" style="">
                    <div class="grve-counter-content">
                      <div class="grve-counter-item grve-h3 grve-text-primary-1 grve-custom-font-1"> <span
                          data-decimal-points="0" data-decimal-separator="." data-end-val="22" data-prefix=""
                          data-start-val="0" data-suffix=" let" data-thousands-separator=""
                          data-thousands-separator-vis="">0</span> </div>
                      <h3 class="grve-counter-title grve-h3 grve-custom-font-1"><i class="Defaults-calendar"></i>
                        zkušeností s výukou</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grve-column-inner wpb_column grve-column-1-3">
                <div class="grve-column-wrapper-inner vc_custom_1631979611626">
                  <div class="grve-element grve-counter grve-align-center" style="">
                    <div class="grve-counter-content">
                      <div class="grve-counter-item grve-h3 grve-text-primary-1 grve-custom-font-1"> <span
                          data-decimal-points="0" data-decimal-separator="." data-end-val="1" data-prefix=""
                          data-start-val="0" data-suffix="" data-thousands-separator=""
                          data-thousands-separator-vis="">0</span> </div>
                      <h3 class="grve-counter-title grve-h3 grve-custom-font-1"><i class="Defaults-heart"></i> učitelské
                        srdce </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none grve-custom-height grve-equal-column">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1631978307724">
            <div class="grve-element grve-image rounded grve-align-center" style="">
              <div class="grve-image-wrapper">{% image "betka_1-768x512.jpg", "", "(max-width: 768px) 100vw, 768px" %}</div>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-42666a0da9420c21d uvc-8942"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-42666a0da9420c21d"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-42666a0da9420c21d h2">
                <h2 style="font-weight:normal;">O mně</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#af1b1d;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <div class="media-body text-left">
                <div class="excerpt">
                  <p>Jsem aktivním členem <strong>Mezinárodní asociace učitelů angličtiny jako cizího jazyka</strong>:
                    <strong>IATEFL</strong> (International Association of Teachers of English as a Foreign Language)</p>
                  <p>Jsem také členem<strong> Asociace učitelů angličtiny České republiky: ATECR</strong> (Association
                    of Teachers of English of the Czech Republic)</p>
                  <p>Jsem kvalifikována pod Cambridge University pro výuku angličtiny dospělých: <strong>CELTA
                      (Certificate in English Language Teaching to Adults)</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-6">
          <div class="grve-column-wrapper"></div>
        </div>
        <div class="grve-column wpb_column grve-column-2-3">
          <div class="grve-column-wrapper">
            <div class="smile-icon-timeline-wrap csstime tl-animation-shadow"
              data-time_block_bg_color="__USE_THEME_MAIN_COLOR__" style="">
              <div class="timeline-line" style="border-right-color:__USE_THEME_MAIN_COLOR__;"><span></span></div>
              <div class="timeline-wrapper"></div>
              <div class="timeline-feature-item feat-item">
                <div class="feat-dot">
                  <div class="timeline-dot"></div>
                </div>
                <div class="ult-timeline-arrow"><s></s>
                  <l></l>
                </div>
                <div class="timeline-icon-block">
                  <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-book"></i></div>
                  <!-- icon -->
                </div>
                <div class="timeline-header-block">
                  <div class="timeline-header" id="timeline-featured-1656" style="">
                    <h3 class="ult-timeline-title ult-responsive"
                      data-responsive-json-new='{"font-size":"","line-height":""}'
                      data-ultimate-target="#timeline-featured-1656 .ult-timeline-title" style="">1990</h3>
                    <div class="ult-responsive custom-lht" data-responsive-json-new='{"font-size":"","line-height":""}'
                      data-ultimate-target="#timeline-featured-1656 .custom-lht" style="">
                      <p class="svt-cd-timeline-content-title">začínám se učit anglicky a už nikdy nepřestanu ????</p>
                      <p></p>
                    </div>
                  </div> <!-- header -->
                </div>
              </div>
              <div class="timeline-wrapper">
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-file-text"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-1293" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-1293 .ult-timeline-title" style="">1997</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-1293 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">léto, vedro a já čtu svou první knihu v angličtině:
                          sbírku povídek od E.A. Poea</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-plane"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-7091" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-7091 .ult-timeline-title" style="">2003</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-7091 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">odjíždím do Oxfordu (UK) jako au-pair, studuji
                          angličtinu na Cherwell College a o půl roku později skládám zkoušku z pokročilé angličiny
                          (Cambridge English: Advanced), získávám přátele na celý život a od té doby se sem často vracím
                        </p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-pencil"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-5706" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-5706 .ult-timeline-title" style="">2004</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-5706 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">s amatérským nadšením začínám učit své první studenty
                          (AML Jihlava a Brno) a zároveň se zapisuji ke studiu na Masarykově Univerzitě v Brně, obor
                          Americká a anglická literatura – moje celoživotní láska.</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-users"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-7761" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-7761 .ult-timeline-title" style="">2005</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-7761 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">začínám učit na plný úvazek v Jihlavě a v Brně:
                          skupinové kurzy pro veřejnost, individuální kurzy, firemní kurzy a kurzy, které připravují na
                          cambridgské zkoušky. potkávám spousty lidí, setkávám se s mnoha životními příběhy i názory, ve
                          volném čase cestuji po Evropě… mé vlastní studium mě ale nesmírně baví a mnoho z mých
                          profesorů je mi dodnes profesním i lidským vzorem…</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-university"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-6085" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-6085 .ult-timeline-title" style="">2009</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-6085 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">zkoumám téma své diplomové práce v řecké Soluni
                          (katedra anglistiky University of Thessaloniki)</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-globe"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-2131" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-2131 .ult-timeline-title" style="">2010</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-2131 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">začínám studovat španělštinu, svou novou vášeň… o rok
                          později odjíždím do Španělska na jazykový pobyt… učení se dalšímu jazyku mě hodně obohacuje a
                          pomáhá mi se vcítit do mých vlastních klientů, znovu zjišťuji, jaké to je být úplným
                          začátečníkem ????</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-graduation-cap"></i>
                    </div> <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-3035" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-3035 .ult-timeline-title" style="">2012</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-3035 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">stávám se Mgr. v oboru americká a anglická literatura
                        </p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-certificate"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-7436" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-7436 .ult-timeline-title" style="">2013</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-7436 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">přemýšlím o výuce v zahraničí a skládám zkoušky v rámci
                          velmi intenzivního praktického kurzu metodologie: CELTA (Certificate in English Language
                          Teaching to Adults), který kvalifikuje pro výuku dospělých po celém světě… těchto třicet dní
                          odborného kurzu se mi vryje do paměti v pozitivním smyslu</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-sun-o"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-4196" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-4196 .ult-timeline-title" style="">2014</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-4196 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">od Oxford International English (UK) přichází nabídka
                          vést akademicky jejich velkou letní školu ve Winchestru… mám na starosti tým učitelů a
                          společně vzděláváme přes 1100 dětí… pracuji přibližně 18 hodin denně, ale když děti opouštějí
                          naše intenzivní kurzy spokojené, učitelé spolu táhnou za jeden provaz a všichni se připravíme
                          na inspekci od British Council, ke štěstí už nic nechybí…</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-star"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-3121" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-3121 .ult-timeline-title" style="">2015</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-3121 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">znovu se dvakrát vracím pracovně k Oxford Internatioal
                          English (UK) a akademicky řídím Culford Summer School, na podzim pak v ČR akademicky vedu
                          jazykovou školu Polyglot</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
                <div class="timeline-block">
                  <div class="timeline-dot"></div>
                  <div class="ult-timeline-arrow"><s></s>
                    <l></l>
                  </div>
                  <div class="timeline-icon-block">
                    <div class="ult-timeline-icon tl-icon-no-bg" style="   "><i class="Defaults-coffee"></i></div>
                    <!-- icon -->
                  </div>
                  <div class="timeline-header-block">
                    <div class="timeline-header" id="timeline-item-3481" style="">
                      <h3 class="ult-timeline-title ult-responsive"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-3481 .ult-timeline-title" style="">2017</h3>
                      <div class="ult-responsive timeline-item-spt"
                        data-responsive-json-new='{"font-size":"","line-height":""}'
                        data-ultimate-target="#timeline-item-3481 .timeline-item-spt" style="">
                        <p class="svt-cd-timeline-content-title">vytvářím Teaspoon Club jako souhrn všeho, v co ve
                          vzdělávání věřím: individuálního přístupu, dobrého stimulujícího prostředí pro získávání
                          nových poznatků i faktu, že šance a obzory by měly být otevřené všem</p>
                        <p></p>
                      </div>
                    </div> <!-- header -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-6">
          <div class="grve-column-wrapper"></div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
</div>
