---
layout: base.njk
title: "Kontakt – Teaspoon Club: angličtina pro seniory"
description: "Kontaktujte Teaspoon Club – kurzy angličtiny pro seniory v Praze. Zavolejte nebo napište, rádi vám zodpovíme dotazy a pomůžeme s výběrem kurzu."
bodyClass: "wp-singular page-template-default page page-id-239 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
pageStylesFile: "/css/vc-kontakt.min.css"
hcaptcha: true
hasMasonry: true
---

<div class="post-239 page type-page status-publish hentry" id="page-239">
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-image rounded grve-align-center" style="">
              <div class="grve-image-wrapper">{% image "betka_2.jpg", "Alzbeta Rychtecka", "(max-width: 768px) 100vw, 768px", "high" %}</div>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-text vc_custom_1631982041847">
              <p><strong>Mgr. Alžběta Rychtecká</strong></p>
              <p><i class="Defaults-phone"></i> telefon: <strong>+420 605 477 433</strong></p>
              <p>(pokud telefon nezvedám, nejspíše se právě věnuji klientům a ozvu se vám zpátky)</p>
              <p><i class="Defaults-envelope"></i> email: <strong>alzbeta@teaspoon.cz</strong></p>
            </div>
            <div class="grve-element grve-align-left"><a
                class="grve-btn grve-btn-extrasmall grve-round grve-bg-primary-1 grve-bg-hover-primary-2"
                href="http://www.facebook.com/Anglictinaproseniory/"><span><i class="fa fa-facebook"></i>Teaspoon
                  Club na Facebooku</span></a></div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-text">
              <div class="layers-widget-column-20-947 layers-masonry-column layers-widget-column-947 span-4 last column"
                id="layers-widget-column-20-947">
                <div class="media image-left medium">
                  <div class="media-body text-justify">
                    <div class="excerpt">
                      <p> </p>
                      <p><i class="Defaults-building-o"></i> IČO: 88091457</p>
                      <p><i class="Defaults-credit-card"></i> Bankovní spojení:<br />
                        <strong>1626570018/3030</strong> (Air Bank)
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-2546a0da94291ef0 uvc-3904"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-2546a0da94291ef0"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}' data-ultimate-target=".uvc-heading.ultimate-heading-2546a0da94291ef0 h2">
                <h2 style="font-weight:normal;">Napište mi</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#af1b1d;width:autopx;"></span></div>
            </div>
            <div class="grve-row-inner grve-bookmark">
              <div class="grve-column-inner wpb_column grve-column-1-2">
                <div class="grve-column-wrapper-inner">
                  <div class="grve-element grve-text">
                    {% include "form-contact.njk" %}
                  </div>
                </div>
              </div>
              <div class="grve-column-inner wpb_column grve-column-1-2">
                <div class="grve-column-wrapper-inner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
</div>
