---
layout: base.njk
title: "Obchodní podmínky – Teaspoon Club: angličtina pro seniory"
bodyClass: "wp-singular page-template-default page page-id-59 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
---

<div class="post-59 page type-page status-publish hentry" id="page-59">
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-6">
          <div class="grve-column-wrapper"></div>
        </div>
        <div class="grve-column wpb_column grve-column-2-3">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-text">
              <h2 dir="ltr">SKUPINOVÁ VÝUKA TEASPOON CLUB</h2>
              <h3 dir="ltr">Docházkové kurzy pro veřejnost</h3>
              <p dir="ltr">Pro účely těchto obchodních podmínek a pro účely prodeje jazykových kurzů mj. prostřednictvím
                webových stránek www.teaspoon.cz</p>
              <p dir="ltr">Alžbeta Rychtecká<br />
                Hybrálec 50<br />
                586 01 Jihlava<br />
                IČO: 88091457</p>
              <p dir="ltr">Fyzická osoba podnikající dle živnostenského zákona nezapsaná v obchodním rejstříku<br />
                (dále též označována jako Dodavatel)</p>
              <p dir="ltr">Objednatelem se pro účely těchto obchodních podmínek rozumí osoba, jež si u dodavatele
                objednala výuku jazyka v jazykovém kurzu specifikovaném v příslušné objednávce a dodavatelem výše
                uvedená fyzická osoba, která objednateli potvrdila objednávku.</p>
              <p dir="ltr">Dodavatel a objednatel dále společně označováni též jako smluvní strany.</p>
              <h3 dir="ltr">Čl. I Úvodní ustanovení</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Všeobecné obchodní podmínky (dále též VOP) tvoří nedílnou součást smlouvy uzavřené mezi
                    objednatelem a příslušným dodavatelem.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Smlouva mezi objednatelem a dodavatelem vzniká na základě závazné telefonické či písemné
                    objednávky u dodavatele. Za písemnou formu se považuje také elektronická pošta a elektronický
                    formulář závazné přihlášky na www. teaspoon.cz. Dodavatel má povinnost do dvou pracovních dnů ode
                    dne obdržení konkrétní objednávky písemně potvrdit objednateli její přijetí. Pokud tak neučiní, není
                    objednávka považována za přijatou. Za potvrzení objednávky se považuje i odeslání potvrzovacího
                    e-mailu na uvedenou adresu objednatele.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Ujednané podmínky smluvního vztahu lze měnit nebo zrušit pouze výslovným ujednáním obou
                    smluvních stran a na základě podmínek uvedených v těchto Všeobecných obchodních podmínkách.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. II Předmět plnění</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Předmětem plnění je výuka jazyků v kurzu pro veřejnost vypsaném dodavatelem pro příslušné
                    období na základě objednávky (dále jen výuka).</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Jazykové kurzy jsou rozdělené do několika typů (obecný kurz, konverzace, příprava ke
                    zkouškám a certifikátům atd.) Charakteristika jednotlivých kurzů je uvedená, tj. veřejně přístupná
                    na internetových stránkách dodavatele www.teaspoon.cz.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. III Všeobecná ujednání</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel se zavazuje ke splnění uveřejněných podmínek výuky především co do termínu,
                    rozsahu výuky, ceny, kvality plnění a lektorského zajištění. Podmínky výuky jsou zveřejněny na
                    internetové adrese www.teaspoon.cz. Další povinnosti dodavatele jsou specifikovány v dalších bodech
                    těchto podmínek.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednatel je povinen převzít objednanou výuku a řádně a včas za ni zaplatit.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. IV Termín a realizace výuky</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">V případě semestrálních kurzů probíhá výuka 1x nebo 2x týdně v rozsahu 16 nebo 32
                    výukových bloků za semestr. V případě dvousemestrálních kurzů probíhá výuka 1x nebo 2x týdně
                    v rozsahu 32/64 výukových bloků za dva semestry. Délka výukového bloku je 90 minut, pokud ve
                    specifikaci kurzu není uvedeno jinak.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Není-li stanoveno jinak, ve dnech státních svátků výuka neprobíhá. S touto skutečností
                    bylo již počítáno při kalkulaci kurzovného.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Zahájení výuky je specifikováno v aktuální nabídce jazykových kurzů na webové adrese
                    dodavatele www.teaspoon.cz.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel si vyhrazuje právo posunout zahájení a ukončení kurzu o 1-2 týdny v případě, že
                    je to z technických důvodů nutné.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě jazykových kurzů probíhajících v období letních prázdnin je časové rozložení
                    kurzů odlišné od semestrálních kurzů a je vždy uvedeno ve specifikaci kurzu.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Pro případ, že výuku nebude možno ze závažných důvodů zajistit, je dodavatel oprávněn
                    zvolit náhradní způsob zajištění výuky. Objednatel bude na tuto skutečnost předem upozorněn.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel si vyhrazuje právo zrušit kurz z důvodu nenaplnění minimální kapacity kurzu
                    (minimální počet jsou 6 studentů). Dodavatel je povinen o tomto faktu informovat objednatele
                    nejpozději 3 pracovní dny před zahájením kurzu. Dodavatel je povinen nabídnout objednateli náhradní
                    řešení (možnost navštěvovat jiný kurz, převedení kurzovného na individuální výuku nebo vrácení
                    kurzovného). Kurzovné je v tomto případě vratné v plné výši.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. V Kurzovné</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Cena za příslušný jazykový kurz (dále jen kurzovné), je určena dle ceníku jazykových
                    kurzů dodavatele zveřejněného na internetové adrese www.teaspoon.cz . Kurzovné zahrnuje příslušný
                    počet výukových bloků (dle specifikace kurzu), výukové materiály mimo učebnice, využívání pomůcek
                    a vybavení učeben při výuce.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. VI Platební podmínky</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Před zahájením semestrálního kurzu je objednatel povinen zaplatit dodavateli kurzovné
                    výši 100%, a to nejpozději do 14 pracovních dnů od objednání, tj. od podpisu závazné objednávky nebo
                    jejího odeslání online na webových stránkách www.teaspoon.cz. I v případě intenzivních jazykových
                    kurzů (měsíční a kratší) je objednatel povinen uhradit kurzovné v plné výši před zahájením kurzu.
                  </p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Kurzovné je možné uhradit následujícími způsoby: převodem na účet.</p>
                  <ul>
                    <li dir="ltr">
                      <p dir="ltr">Platba převodem na účet – Při této formě úhrady bude objednateli vystavena
                        faktura-daňový doklad na celou částku objednávky. Objednatel je povinen dodržet splatnost
                        daňového dokladu. V případě, že bude plátcem právnická osoba, je objednatel povinen uvést IČ
                        a sídlo této právnické osoby.</p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">Na žádost objednatele vystaví dodavatel na kurzovné v příslušné výši (podle druhu
                        kurzu) daňový doklad.</p>
                    </li>
                  </ul>
                </li>
              </ol>
              <h3 dir="ltr">Čl. VII Slevy z kurzovného</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Výčet aktuálně nabízených slev je k dispozici na <a
                      href="https://www.facebook.com/Anglictinaproseniory/">https://www.facebook.com/Anglictinaproseniory/</a>.
                  </p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Žádnou ze slev poskytovaných dodavatelem nelze uplatnit zpětně a slevy nelze sčítat.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel není povinen upozorňovat objednatele na možnost využití slevy.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. VIII Kvalita výuky a lektorské zajištění výuky</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel se zavazuje zajistit pro výuku kurzu českého nebo zahraničního lektora dle
                    konkrétní specifikace daného kurzu. Dodavatel si vyhrazuje právo na změnu lektora.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel se zavazuje, že výuka bude probíhat v určených dnech a časech.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel se zavazuje, že výuka bude probíhat v úrovni, která je uvedena u specifikace
                    konkrétního kurzu s přihlédnutím k jazykové úrovni dané skupiny dle uvážení lektora.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel se zavazuje obstarat pro výuku kvalitní lektory, kteří mají potřebné vzdělání
                    a praxi.</p>
                </li>
              </ol>
              <p dir="ltr">Dodavatel se zavazuje dodržovat maximální stanovený limit pro počet osob v kurzu a to
                následovně:</p>
              <p dir="ltr">Obecné jazykové kurzy, konverzační kurzy a kurzy intenzivní – maximální kapacita 12 osob
                v kurzu;</p>
              <p dir="ltr">Minimální počet osob v kurzu je 6, neurčí-li dodavatel jinak. V případě, že si příslušný kurz
                neobjednají a řádně neuhradí kurzovné nejméně 4 objednatelé, nebude v souladu s čl. IV odst. 6 VOP
                realizován.</p>
              <h3 dir="ltr">Čl. IX Reklamace</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Pokud je objednatel nespokojen s kvalitou výuky, je povinen dodavatele o této skutečnosti
                    informovat písemně, např. emailem či prostřednictvím reklamačního formuláře, který je na vyžádání
                    dostupný od dodavatele. Reklamaci kurzu lze uplatnit nejpozději do začátku třetího vyučovacího bloku
                    (lekce) po zahájení kurzu, čehož si je objednatel vědom a s tímto souhlasí. Pokud klient zmeškal
                    první výukové bloky, nebude lhůta pro uplatnění reklamace posunuta. Nároky plynoucí z odpovědnosti
                    za vady zanikají, jsou-li uplatněny opožděně.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel obdržení reklamačního formuláře potvrdí nejpozději do 2 pracovních dnů.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel si vyhrazuje právo přezkoumat důvody reklamace a v případě, že ji shledá za
                    oprávněnou, navrhnout objednateli řešení, např. v podobě umožnění přestupu do jiného kurzu
                    či uložení kurzovného do dalšího semestru, případně vrácení kurzovného objednateli – volba takového
                    řešení je vždy na dodavateli (ve všech případech se jedná o navrácení adekvátní části kurzovného,
                    tj. po odečtení částky za již uskutečněné lekce, resp. bloky).</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel, respektive jím pověřený pracovník, se zavazuje rozhodnout o reklamaci ihned,
                    je-li to možné, nebo do 5 pracovních dnů. Ve složitých případech, kdy je třeba prověřit důvody
                    reklamace např. formou distribuce dotazníků spokojenosti ostatním účastníkům kurzu, provedení
                    hospitace v kurzu, konzultace s daným lektorem apod., rozhodne dodavatel nejpozději do 4 týdnů od
                    dne doručení reklamace.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Jako relevantní důvod reklamace nebudou uznány překážky vzniklé na straně objednatele.
                    Jedná se tak především o změnu časových možností, ztrátu důvodu k navštěvování kurzu s ohledem na
                    změnu okolností, za nichž se objednatel přihlásil.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Jako relevantní důvod reklamace nebude rovněž uznáno zrušení hodiny ze strany dodavatele.
                    Dodavatel se však zavazuje zajistit náhradní termín výuky či adekvátně prodloužit trvání kurzu.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel neodpovídá za nesplnění povinností vyplývajících ze smlouvy, k nimž došlo
                    následkem vyšší moci.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednatel si je svých povinností vyplývajících pro něj z tohoto odstavce VOP vědom,
                    souhlasí s nimi a zavazuje se je dodržovat.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednateli nevzniká nárok na vrácení kurzovného při překážkách vzniklých z jeho strany,
                    které mu zabraňují v řádné docházce (změna časových možností objednatele či dalších okolností, za
                    nichž se přihlásil do kurzu). Dodavateli v tomto případě nezaniká nárok na doplatek kurzovného
                    v plné výši.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě elektronického přihlášení do kurzu má objednatel, je-li spotřebitelem, právo
                    odstoupit od této smlouvy bez udání důvodu ve lhůtě 14 dnů. Tato lhůta začíná běžet ode dne
                    následujícího po dni, kdy byla daná smlouva uzavřena (tj. ode dne následujícího po dni, kdy
                    objednatel odeslal svou objednávku dodavateli a dodavatel mu přijetí této objednávky potvrdil)
                    a k dodržení této lhůty postačuje, bylo-li odstoupení od smlouvy před uplynutím této lhůty
                    dodavateli odesláno. Pro odstoupení od smlouvy je možné použít vzorový formulář odstoupení od
                    smlouvy, jež je přílohou těchto obchodních podmínek, avšak není to povinné. Odstoupí-li objednatel
                    v souladu s výše uvedenými podmínkami od smlouvy, navrátí mu dodavatel bez zbytečného odkladu,
                    nejpozději do 14 dnů ode dne, kdy dodavatel obdržel odstoupení od smlouvy, veškeré platby, jež od
                    objednatele v souvislosti s touto smlouvou obdržel, a to stejným způsobem jako tyto platby obdržel,
                    nedohodnou-li se smluvní strany  jinak.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě, že před uplynutím 14-denní lhůty pro odstoupení od smlouvy ve smyslu odst. 3
                    tohoto ustanovení bylo již s poskytnutím služeb započato, stalo se tak na základě výslovné žádosti
                    (tj. na základě příslušné objednávky) objednatele a objednatel je v takovém případě povinen uhradit
                    dodavateli poměrnou část ceny kurzovného odpovídající ceně služeb již objednateli poskytnutých.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě, že před uplynutím 14-denní lhůty pro odstoupení od smlouvy ve smyslu odst. 3
                    tohoto ustanovení byly již objednateli objednané služby v celém rozsahu poskytnuty, stalo se tak na
                    základě výslovné žádosti (tj. na základě příslušné objednávky) objednatele a objednatel v takovém
                    případě nemá právo odstoupit od dané smlouvy dle odst. 3 tohoto ustanovení.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Po uplynutí výše uvedené 14-denní lhůty je objednávka považována za závaznou a vztahují
                    se na ni stejné podmínky, jako by došlo k uzavření závazné přihlášky v jakékoliv provozovně
                    dodavatele.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Žádost o změnu objednávky jakož i odstoupení od smlouvy musí objednatel odeslat
                    objednateli vždy písemně, tj. e- mailem nebo vyplněním žádosti v zápisové kanceláři pobočky, kde
                    kurz probíhá. Žádost o změnu objednávky je považována za přijatou, pokud dodavatel písemně potvrdil
                    její obdržení. Dodavatel se zavazuje přijetí potvrdit nejpozději do 24 hodin od obdržení.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. X Porušení smlouvy, změna smlouvy, odstoupení od smlouvy</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">V případě odstoupení objednatele od smlouvy (storno) před zahájením daného kurzu,
                    tj. po podpisu závazné objednávky (přihlášky) avšak před faktickým zahájením kurzu (výuky), se
                    objednatel dodavateli zavazuje zaplatit kurzovné ve výši 50 %, zbývajících 50% kurzovného není
                    povinen platit. Odstoupením objednatele od smlouvy (storno) po zahájení kurzu, tj. po konání prvního
                    vyučovacího bloku (lekce) vzniká dodavateli nárok na úhradu kurzovného, tj. na 100 % kurzovného
                    a objednatel se tak v tomto případě zavazuje dodavateli zaplatit kurzovné v plné výši.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednatel nemá nárok na vrácení kurzovného při překážkách vzniklých z jeho strany, které
                    mu zabraňují v řádné docházce (změna časových možností objednatele či dalších okolností, za nichž se
                    přihlásil do kurzu). Dodavateli v tomto případě nezaniká nárok na doplatek kurzovného v plné výši.
                  </p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě náhlých zdravotních komplikací trvajících déle jak 6 týdnů vzniká objednateli
                    nárok na přerušení výuky a převedení adekvátní části kurzovného do následujícího semestru. Tuto
                    skutečnost je třeba doložit dodavateli relevantním dokladem od lékaře (pracovní neschopenka apod.),
                    v co nejkratším termínu, tj. nejpozději do dvou týdnů od přerušení navštěvování kurzu. V případě, že
                    objednatel nedoloží dodavateli doklad od lékaře ve lhůtě dle předchozí věty, nemá nárok na vrácení
                    adekvátní části kurzovného dle tohoto odstavce.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě elektronického přihlášení do kurzu (tj. vyplněním objednávky kurzu
                    prostřednictvím webových stránek www.teaspoon,cz) má objednatel, je-li spotřebitelem, právo
                    odstoupit od této smlouvy bez udání důvodu ve lhůtě 14 dnů. Tato lhůta začíná běžet ode dne
                    následujícího po dni, kdy byla daná smlouva uzavřena (tj. ode dne následujícího po dni, kdy
                    objednatel odeslal svou objednávku dodavateli a dodavatel mu přijetí této objednávky potvrdil)
                    a k dodržení této lhůty postačuje, bylo-li odstoupení od smlouvy před uplynutím této lhůty
                    dodavateli odesláno. Pro odstoupení od smlouvy je možné použít vzorový formulář odstoupení od
                    smlouvy, jež je přílohou těchto obchodních podmínek, avšak není to povinné. Odstoupí-li objednatel
                    v souladu s výše uvedenými podmínkami od smlouvy, navrátí mu dodavatel bez zbytečného odkladu,
                    nejpozději do 14 dnů ode dne, kdy dodavatel obdržel odstoupení od smlouvy, veškeré platby, jež od
                    objednatele v souvislosti s touto smlouvou obdržel, a to stejným způsobem jako tyto platby obdržel,
                    nedohodnou-li se smluvní strany j jinak.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě, že před uplynutím 14-denní lhůty pro odstoupení od smlouvy ve smyslu odst. 4
                    tohoto ustanovení bylo již s poskytnutím služeb započato, stalo se tak na základě výslovné žádosti
                    (tj. na základě příslušné objednávky) objednatele a objednatel je v takovém případě povinen uhradit
                    dodavateli poměrnou část ceny kurzovného odpovídající ceně služeb již objednateli poskytnutých.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě, že před uplynutím 14-denní lhůty pro odstoupení od smlouvy ve smyslu odst. 4
                    tohoto ustanovení byly již objednateli objednané služby v celém rozsahu poskytnuty, stalo se tak na
                    základě výslovné žádosti (tj. na základě příslušné objednávky) objednatele a objednatel v takovém
                    případě nemá právo odstoupit od dané smlouvy dle odst. 4 tohoto ustanovení.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Po uplynutí výše uvedené 14-denní lhůty právo odstoupit od smlouvy uzavřené
                    prostřednictvím elektronického formuláře na www.teaspoon.cz zaniká.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Žádost o změnu smlouvy jakož i odstoupení od smlouvy musí objednatel odeslat dodavateli
                    vždy písemně, tj. e-mailem nebo vyplněním žádosti v kanceláři pobočky dodavatele. Žádost o změnu
                    smlouvy je považována za přijatou doručením dodavateli, ovšem dodavatel se zavazuje přijetí žádosti
                    potvrdit nejpozději do 48 hodin od obdržení. Odstoupení od smlouvy je účinné doručením dodavateli.
                  </p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel si vyhrazuje právo odmítnout či dodatečně vyloučit z kurzu objednatele, jež
                    porušuje základní zásady občanského soužití či objednatele, u něhož vyjde najevo, že není objektivně
                    schopen zvládat výuku. V případě dodatečného vyloučení má objednatel nárok na vrácení kurzovného
                    v rozsahu neodchozených lekcí.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. XI Osobní údaje objednatele</h3>
              <ol>
                <li dir="ltr">
                  <p dir="ltr">Objednatel dává odesláním nebo podpisem objednávky dodavateli k dispozici své osobní
                    údaje: jméno, příjmení, adresu bydliště/sídla, e-mailovou adresu a telefonní číslo a u podnikajících
                    fyzických osob IČO. Objednatel podpisem nebo odesláním objednávky stvrzuje, že jím poskytnuté osobní
                    údaje jsou přesné a pravdivé. Dojde-li následně ke změně osobních údajů, je objednatel povinen
                    o této změně dodavatele vyrozumět, a to nejpozději do 7 dní.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě, že objednatel nebude zároveň účastníkem výuky a objednal výuku pro třetí osobu
                    nebo v případě, že objednávku podepíše nebo odešle zákonný zástupce účastníka výuky, který je mladší
                    18 let, prohlašuje zákonný zástupce nebo objednatel, který objednal výuku pro třetí osobu, že má
                    právo použít osobní údaje účastníka výuky a poskytnout je dodavateli a že poskytnuté osobní údaje
                    jsou pravdivé. V případě, že toto prohlášení se ukáže jako nepravdivé, má dodavatel právo požadovat
                    po osobě, která objednávku podepsala či odeslala, náhradu škody.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel je v tomto smluvním vztahu správcem osobních údajů a zavazuje se nakládat
                    s osobními údaji objednatele v souladu s platnou legislativou, zejména Nařízením Evropského
                    parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů
                    a volném pohybu těchto údajů a o zrušení směrnice 95/46/ES (dále jen „GDPR“).</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V souladu s čl. 6 odst. 1 písm. b) GDPR je dodavatel oprávněn zpracovávat poskytnuté
                    osobní údaj  za účelem uzavření a plnění smlouvy. Odmítnutí poskytnutí osobních údajů bude mít za
                    následek neuzavření smlouvy. Dále je dodavatel oprávněn zpracovávat osobní údaje poskytnuté
                    v souvislosti s plněním smlouvy z titulu oprávněného zájmu, a to pro účely přímého marketingu, tedy
                    zasílání obchodních sdělení dodavatele.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednatel bere na vědomí, že ke zpracování jeho osobních údajů dle předchozího odstavce
                    není třeba souhlas objednatele.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel potvrzuje, že si je vědom toho, že v souladu s platnou legislativou má
                    objednatel:</p>
                  <ol>
                    <li dir="ltr">
                      <p dir="ltr">právo na přístup k osobním údajům spočívající v právu získat od správce potvrzení,
                        zda zpracovává osobní údaje, které se ho týkají, a informaci o účelu zpracování, kategorii
                        osobních údajů, době zpracování a další informace dle čl. 15 GDPR,</p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">právo na opravu nepřesných osobních údajů dle čl. 16 GDPR,</p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">právo na výmaz osobních údajů, pokud pominul účel, pro nějž byly shromážděny, nebo
                        pokud objednatel odvolal souhlas ke zpracování osobních údajů nebo osobní údaje byly shromážděny
                        protiprávně a z dalších důvodů uvedených v čl. 17 GDPR,</p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">právo na omezení zpracování spočívající v tom, že objednatel popírá přesnost osobních
                        údajů nebo vznesl námitku proti zpracování a v dalších případech uvedených v čl. 18 GDPR,</p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">právo na přenositelnost údajů spočívající v tom, že objednatel má právo získat osobní
                        údaje, jež poskytl dodavateli jako správci, ve strukturovaném, běžně používaném a strojově
                        čitelném formátu a v právu předat tyto údaje jinému správci za podmínek uvedených v čl. 20 GDPR,
                      </p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">právo vznést námitku proti zpracování osobních údajů dle čl. 21 GDPR a</p>
                    </li>
                    <li dir="ltr">
                      <p dir="ltr">právo podat stížnost u Úřadu na ochranu osobních údajů.</p>
                    </li>
                  </ol>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednatel prohlašuje, že je dostatečně poučen o svých právech ve věci ochrany osobních
                    údajů.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Objednatel bere na vědomí, že zpracováním osobních údajů objednatele může dodavatel
                    pověřit třetí osobu jakožto zpracovatele.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel se zavazuje přijmout opatření, aby nemohlo dojít k neoprávněnému nebo
                    nahodilému přístupu k osobním údajům objednatele, k jejich změně, zničení či ztrátě, neoprávněným
                    přenosům, k jejich jinému neoprávněnému zpracování, jakož i k jinému zneužití osobních údajů a toto
                    se zavazuje zajistit i u každého zpracovatele osobních údajů, kterého zpracováním pověří.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel zajistí v rozsahu stanoveném obecně závaznými právními předpisy informovanost
                    svých zaměstnanců a dalších osob pracujících s osobními údaji objednatele o tom, že tyto údaje je
                    třeba uchovávat a chránit dle GDPR a neposkytovat je třetím osobám.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">V případě potřeby je objednatel oprávněn kontaktovat pověřence pro ochranu osobních údajů
                    dodavatele na adrese: alzbeta@teaspoon.cz</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Ke zpracování osobních údajů objednatele bude docházet po dobu trvání smlouvy uzavřené na
                    základě objednávky. Dodavatel se zavazuje zpracované osobní údaje vymazat bez zbytečného odkladu
                    po skončení smlouvy, nejdéle však do 1 měsíce, s výjimkou oprávněného zájmu dodavatele pro případ
                    sporu s objednatelem.</p>
                </li>
                <li dir="ltr">
                  <p dir="ltr">Dodavatel prohlašuje, že systém, kde budou uchovávány osobní údaje, je umístěn na území
                    Evropské unie, a nebo je pod ochranou Rámcového ujednání o Štítu soukromí uzavřenému mezi Evropskou
                    unií a USA (EU – U.S. Privacy Shield Framework) a je v souladu s GDPR.</p>
                </li>
              </ol>
              <h3 dir="ltr">Čl. XII Mimosoudní řešení spotřebitelského sporu</h3>
              <p dir="ltr">V případě, že dojde mezi dodavatelem a objednatelem, který je spotřebitelem, ke vzniku
                spotřebitelského sporu ze smlouvy o poskytování jazykové výuky uzavřené na základě objednávky
                objednatele, který se nepodaří vyřešit vzájemnou dohodou, může objednatel-spotřebitel podat návrh na
                mimosoudní řešení takového sporu určenému subjektu mimosoudního řešení spotřebitelských sporů, kterým
                je:</p>
              <p dir="ltr">Česká obchodní inspekce<br />


                Ústřední inspektorát – oddělení ADR<br />


                Štěpánská 15<br />


                120 00 Praha 2<br />


                Email: adr@coi.cz<br />


                Web: adr.coi.cz</p>
              <p dir="ltr">Objednatel-spotřebitel může využít rovněž platformu pro řešení sporů online, která je zřízena
                Evropskou komisí na adrese http://ec.europa.eu/consumers/odr/.</p>
              <h3 dir="ltr">Čl. XIII. Závěrečná ustanovení</h3>
              <p dir="ltr">Pokud tyto VOP ani ujednání smluvních stran nestanoví jinak, řídí se právními vztahy mezi
                smluvními stranami příslušnými ustanoveními zákona č. 89/2012 Sb., občanský zákoník, ve znění pozdějších
                předpisů.</p>
              <p dir="ltr">Tyto obchodní podmínky jsou vydané podle občanského zákoníku a jsou platné a účinné ode dne
                1. 11. 2019.</p>
              <h3 dir="ltr">PŘÍLOHA</h3>
              <p dir="ltr">Vzorový formulář pro spotřebitele odstupující od smlouvy dle ust. § 1829 a násl. občanského
                zákoníku<br />
                (vyplňte tento formulář a pošlete jej zpět pouze v případě, že chcete odstoupit od smlouvy)</p>
              <h3 dir="ltr">Oznámení o odstoupení od smlouvy</h3>
              <p dir="ltr"><strong>Adresát:</strong></p>
              <p dir="ltr">Alžběta Rychtecká<br />
                Teaspoon Club, Hybrálec 50, 586 01 Jihlava</p>
              <p dir="ltr"><strong>Oznamuji/oznamujeme, že tímto odstupuji/odstupujeme od smlouvy o nákupu tohoto zboží
                  / poskytnutí těchto služeb:</strong></p>
              <p dir="ltr"><strong>Datum objednání/datum obdržení</strong></p>
              <p dir="ltr"><strong>Jméno a příjmení spotřebitele/spotřebitelů</strong></p>
              <p dir="ltr"><strong>Adresa spotřebitele/spotřebitelů</strong></p>
              <p dir="ltr"><strong>Podpis spotřebitele/spotřebitelů</strong><br />
                (pouze pokud je tento formulář zasílán v listinné podobě)</p>
              <p dir="ltr"><strong>Datum</strong></p>
              <p dir="ltr">Nehodící se škrtněte nebo údaje doplňte.</p>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-6">
          <div class="grve-column-wrapper"></div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
</div>
