.vc_custom_1631982041847{margin-bottom: 2em !important;}
#grve-theme-wrapper a.grve-bg-hover-primary-2.grve-btn-whatsapp:hover{background-color:#25D366 !important;border-color:#25D366 !important;}
.grve-btn.grve-btn-extrasmall{font-size:16px !important;padding:19.63px 18px !important;}
@media (min-width:768px){
  .kontakt-intro-row{display:flex !important;flex-wrap:wrap;align-items:center;}
}
