.vc_custom_1631978307724{background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;border-radius: 5px !important;}
.vc_custom_1631979593535{padding: 1em !important;background-color: #f4efea !important;border-radius: 5px !important;}
.vc_custom_1631979603226{padding: 1em !important;}
.vc_custom_1631979611626{padding: 1em !important;background-color: #f4efea !important;border-radius: 5px !important;}
