---
layout: base.njk
title: "Teaspoon Explorer Club – Teaspoon Club: angličtina pro seniory"
description: "Kurz angličtiny pro mírně pokročilé seniory v Praze. Oprášte znalosti, doplňte mezery a zdokonalte angličtinu v příjemné malé skupince."
bodyClass: "wp-singular page-template-default page page-id-308 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
hcaptcha: true
---

<div class="post-308 page type-page status-publish hentry" id="page-308">
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-2x grve-padding-bottom-2x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-text" id="PO">
              <h4 class="heading">PODZIM 2026/2027 v týdnu od 1. 10. 2026</h4>
              <p>PONDĚLÍ 13:15 – 14:45 falešní začátečníci A1 s Alžbětou</p>
              <p>PONDĚLÍ 15:00 – 16:30 středně pokročilá konverzace A2 s Alžbětou</p>
              <p>PONDĚLÍ 16:40 – 18:00 středně pokročilá konverzace A2/B1 s Alžbětou</p>
              <p>ČTVRTEK 11:15 – 12:45 mírně pokročilí A2- s Alžbětou</p>
              <p>ČTVRTEK 13:00 – 14:15 mírně pokročilí A1+ s Alžbětou</p>
              <p>ČTVRTEK 14:30 – 16:00 falešní začátečníci A1+ s Veronikou</p>
              <ul>
                <li dir="ltr">max. 12 studentů ve skupině</li>
                <li dir="ltr">90minutová setkání</li>
                <li dir="ltr">nácvik řešení komunikačních situací</li>
                <li dir="ltr">aktivní gramatika a rozšiřování slovní zásoby zábavnou formou</li>
                <li dir="ltr">čaj a káva</li>
                <li dir="ltr">400 m od stanice metra B, Karlovo náměstí &amp; 300 m od zastávky tramvaje Moráň</li>
              </ul>
            </div>
            {% include "location-emauzy.njk" %}
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-image rounded grve-align-center" style="">
              <div class="grve-image-wrapper">{% image "pokrocili.jpg", "", "(max-width: 768px) 100vw, 768px", "high" %}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-2x grve-padding-bottom-2x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-40">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-30916a0da943a5af0 uvc-666"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-30916a0da943a5af0"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-30916a0da943a5af0 h3">
                <h3 style="font-weight:bold;">Kolik?</h3>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text" style="margin-bottom:2em;">
              <p><strong style="color:#a20802;">3 800 Kč za semestr, 14 výukových lekcí</strong></p>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-48216a0da943a5bd3 uvc-2087"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-48216a0da943a5bd3"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-48216a0da943a5bd3 h3">
                <h3 style="font-weight:bold;">Učební materiály:</h3>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <p>V kurzu budeme používat knihu a pracovní sešit <strong>English File 4th edition (s video-podporou)</strong> (nakladatelství Macmillan). Jakmile si
                budeme jistí vaší úrovní, není problém si knihu ode mne koupit.</p>
              <p>K dispozici vám budou česko-anglické slovníky, cvičebnice gramatiky a další materiály. Ve výuce
                používám spousty doplňkových aktivit a řadu užitečných materiálů také dostanete zdarma.</p>
            </div>
          </div>
        </div>
        {% include "payment-terms-column.njk" %}
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  {% set courseFormType = "explorer" %}
  {% include "course-registration.njk" %}
</div>
