---
layout: base.njk
title: "Reference – Teaspoon Club: angličtina pro seniory"
description: "Přečtěte si, co říkají studenti Teaspoon Clubu o kurzech angličtiny pro seniory v Praze. Zkušenosti a hodnocení spokojených absolventů."
bodyClass: "wp-singular page-template-default page page-id-220 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
hasMasonry: true
---

<div class="post-220 page type-page status-publish hentry" id="page-220">
  <div class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-testimonial grve-with-gap grve-layout-3 grve-isotope reference"
              data-columns="3" data-columns-large-screen="4" data-columns-mobile="1" data-columns-tablet-landscape="2"
              data-columns-tablet-portrait="2" data-gutter-size="40" data-layout="masonry" style="">
              <div class="grve-isotope-container">
                <div
                  class="grve-isotope-item grve-testimonial-item testimonial type-testimonial status-publish hentry">
                  <div class="grve-isotope-item-inner">
                    <div class="grve-testimonial-element grve-box-item grve-bg-none">
                      <div class="grve-element grve-image circle grve-align-center" style="max-width:120px;margin:0 auto 1.5em;">
                        <div class="grve-image-wrapper">{% image "jitka.jpg", "Jitka", "150px", "high" %}</div>
                      </div>
                      <h4 class="grve-heading-color" style="text-align:center;">Jitka, studentka pokročilé konverzace</h4>
                      <blockquote>
                        <p>Na kurz anglické konverzace pro pokročilé chodím už 8 let. A musím říct, že čím dál
                          raději.</p>
                      </blockquote>
                      <div class="grve-testimonial-content">
                        <div class="grve-container">
                          <p>Na kurz anglické konverzace pro pokročilé chodím už 8 let. A musím říct, že čím dál
                            raději. Alžběta hodiny vede zajímavě, určitě nejsou nudné. Moje ambice je, domluvit
                            si v cizině co potřebuji a popovídat si s několika cizinci v okruhu našich známých.
                            Hlavně jsem tady ztratila ostych....</p>
                          <p>Velmi milá přidaná hodnota je i v tom, že potkávám nové kolegy, v minulém roce se
                            vytvořila tak dobrá parta, že po každé hodině chodíme, alespoň na chvilku, do
                            kavárny.</p>
                          <p>Prostě je to spojení užitečného s příjemným!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="grve-isotope-item grve-testimonial-item testimonial type-testimonial status-publish hentry">
                  <div class="grve-isotope-item-inner">
                    <div class="grve-testimonial-element grve-box-item grve-bg-none">
                      <div class="grve-element grve-image circle grve-align-center" style="max-width:120px;margin:0 auto 1.5em;">
                        <div class="grve-image-wrapper">{% image "sarka.jpg", "Šárka", "150px", "high" %}</div>
                      </div>
                      <h4 class="grve-heading-color" style="text-align:center;">Šárka, studentka konverzačního kurzu</h4>
                      <blockquote>
                        <p>To příjemné je, že s tou pamětí nebojuji sama, ale se skupinou vrstevníků, které už mohu
                          považovat za své přátele.</p>
                      </blockquote>
                      <div class="grve-testimonial-content">
                        <div class="grve-container">
                          <p>Do konverzačního kurzu Teaspoon Club chodím od září 2018 a těším se na každou
                            hodinu. Zde se spojuje příjemné s užitečným. To užitečné je samozřejmě opakování
                            angličtiny. Občas je to v mém věku souboj s pamětí, ale ta hrdost, když nad ní
                            zvítězím... To příjemné je, že s tou pamětí nebojuji sama, ale se skupinou
                            vrstevníků, které už mohu považovat za své přátele. A to vše zastřešuje milá a
                            velice trpělivá lektorka Alžběta, která nám pomáhá proniknout do všech tajů
                            angličtiny a má pro nás vždycky slova povzbuzení, pokud zrovna ten souboj s pamětí
                            lehce prohráváme.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="grve-isotope-item grve-testimonial-item post-218 testimonial type-testimonial status-publish hentry">
                  <div class="grve-isotope-item-inner">
                    <div class="grve-testimonial-element grve-box-item grve-bg-none">
                      <div class="grve-testimonial-content">
                        <div class="grve-container">
                          <p>Nikdo do mě nedostal tolik znalostí a poznatků s tím, že by ve mě
                            zůstaly déle než do konce hodiny, v lepším případě do konce
                            týdne. Z toho co mi Alžběta předala do dneška žiju a jsem za to
                            neskonale vděčný. Až s odstupem času dokážu ocenit co vše pro mě
                            osobně udělala a co dokázala. Mnohokrát a od srdce děkuji. Je
                            sice pravda, že ne vždy jsem chodil do hodin s uplně čistým
                            svědomím, že jsem neměl splněný nějaký ten domácí úkol, ale to
                            proto, že jsem skutečně chtěl chodit připraven a připravoval se
                            na mé poměry pečlivě. Což také málokdo před Alžbětou dokázal 🙂 S lehkostí sobě vlastní nám vtiskla spoustu poznatků
                            a hlavně základů, na kterých se dalo a stále ještě dá stavět.
                            Hodiny mě bavily, něco jsem se dozvěděl, pobavil se a mělo to
                            pro mě tedy smysl.</p>
                        </div>
                      </div>
                      <div class="grve-testimonial-author">
                        <div class="grve-small-text grve-heading-color grve-testimonial-name">
                          František Koudelka<span class="grve-text-primary-1"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="grve-isotope-item grve-testimonial-item post-231 testimonial type-testimonial status-publish hentry">
                  <div class="grve-isotope-item-inner">
                    <div class="grve-testimonial-element grve-box-item grve-bg-none">
                      <div class="grve-testimonial-content">
                        <div class="grve-container">
                          <p>Lekce angličtiny s Alžbětou jsou příkladem toho, co znamená Škola
                            hrou – dokáže člověka nadchnout pro studium a vtáhnout ho do
                            hodiny, takže se vždy těší na další.</p>
                          <p>Výborně dokáže své studenty motivovat, zaměřit se na jejich slabá
                            místa a tato postupně vypilovat. Hodiny nejsou jednotvárné,
                            využívá mnoho různých výukových technik, díky kterým je jazyk
                            opravdu použitelný ve skutečném životě.</p>
                        </div>
                      </div>
                      <div class="grve-testimonial-author">
                        <div class="grve-small-text grve-heading-color grve-testimonial-name">
                          Pavla Frydrychová<span class="grve-text-primary-1"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="grve-isotope-item grve-testimonial-item post-232 testimonial type-testimonial status-publish hentry">
                  <div class="grve-isotope-item-inner">
                    <div class="grve-testimonial-element grve-box-item grve-bg-none">
                      <div class="grve-testimonial-content">
                        <div class="grve-container">
                          <p>Alžběta Rychtecká – nejlepší lektorka angličtiny, kterou znám.
                          </p>
                          <p>S její pomocí jsem se dostala téměř z nulové znalosti na slušnou
                            komunikativní úroveň za krátký čas, a i když je to už nějaká
                            doba, co mě učila, čerpám z toho dodnes.</p>
                          <p>Krom neotřelého způsobu její výuky a naprosté profesionality,
                            oceňuji neformální lidský přístup a především nezapomenutelnou
                            osobnost, která Vás nikdy nepřestane bavit.</p>
                        </div>
                      </div>
                      <div class="grve-testimonial-author">
                        <div class="grve-small-text grve-heading-color grve-testimonial-name">
                          Nora Rotterová<span class="grve-text-primary-1"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="grve-isotope-item grve-testimonial-item post-233 testimonial type-testimonial status-publish hentry">
                  <div class="grve-isotope-item-inner">
                    <div class="grve-testimonial-element grve-box-item grve-bg-none">
                      <div class="grve-testimonial-content">
                        <div class="grve-container">
                          <p>Nejde jen o hodnocení angličtiny, ale o hodnocení Alžbětiny osoby
                            jako celku.Pro mě byla a stále je velkou inspirací a má můj
                            obdiv za to jaká je. Jsem ráda, že jsem ji mohla poznat a mohla
                            jsem být její žákyní.</p>
                        </div>
                      </div>
                      <div class="grve-testimonial-author">
                        <div class="grve-small-text grve-heading-color grve-testimonial-name">
                          Marta Sýkorová<span class="grve-text-primary-1"></span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
</div>
