---
layout: base.njk
title: "Zpracování osobních údajů a GDPR – Teaspoon Club: angličtina pro seniory"
description: "Informace o zpracování osobních údajů a zásadách ochrany soukromí v Teaspoon Clubu v souladu s nařízením GDPR."
bodyClass: "privacy-policy wp-singular page-template-default page page-id-3 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
---

<div class="post-3 page type-page status-publish hentry" id="page-3">
  <div class="grve-container">
    <p>Na základě zákona č. 101/2000 Sb. O ochraně osobních údajů a Nařízení Evropského parlamentu a Rady (EU)
      2016/679 (GDPR) bychom rádi informovali své klientyo rozsahu zpracování jejich osobních údajů:</p>
    <ol>
      <li>Abychom mohli zajistit vaši účast v kurzech zpracováváme vaše osobní údaje  v následujícím
        rozsahu:<strong> jméno, email a telefonní číslo</strong>, (případně vaše fakturační údaje, chcete-li
        vystavit fakturu), a to pouze za účelem poskytování služeb dle uzavřeného kontraktu.</li>
      <li>Tyto údaje jsou pro vykonávání zmiňovaných služeb nutné – potřebujeme klienty informovat o případné
        změně termínů, zasílat jim potřebné informace apod. Nejsou používány k žádným marketingovým účelům.</li>
      <li>Tyto údaje zpracovává pouze Mgr. Alžběta Rychtecká.</li>
      <li>Na základě uvedených zákonů mají klienti právo přístupu k těmto osobním údajům a na opravu těchto údajů,
        jakož i další práva, stanovená v <a href="https://www.zakonyprolidi.cz/cs/2000-101">§21 zákona
          č.101/2000 Sb</a>.</li>
    </ol>
    <p>V případě jakýchkoli dotazů či přání vyřazení z evidence údajů se na mě prosím obraťte.</p>
    <p>Mgr. Alžběta Rychtecká</p>
  </div>
</div>
