---
layout: base.njk
title: "Teaspoon Club: angličtina pro seniory – Lekce anglického jazyka pro seniory v Praze"
description: "Kurzy angličtiny pro seniory v Praze v přátelské atmosféře. Malé skupinky, pohodové tempo a osobní přístup. Přijďte se učit do Teaspoon Clubu!"
bodyClass: "home wp-singular page-template-default page page-id-10 wp-theme-movedo wp-child-theme-movedo-child grve-vce-ver-3.4.5 grve-body grve-boxed wpb-js-composer js-comp-ver-6.7.0 vc_responsive grve-privacy-gtracking-disabled grve-privacy-gfonts-disabled"
pageStylesFile: "/css/vc-index.min.css"
pageHead: |
  <link rel="preload" as="image" href="/photos/cojeto.avif" type="image/avif" fetchpriority="high">
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"EducationalOrganization","@id":"https://teaspoon.cz/#organization","name":"Teaspoon Club","url":"https://teaspoon.cz","telephone":"+420605477433","email":"alzbeta@teaspoon.cz","sameAs":["https://www.facebook.com/Anglictinaproseniory/"],"founder":{"@type":"Person","@id":"https://teaspoon.cz/#alzbeta","name":"Mgr. Alžběta Rychtecká"},"address":{"@type":"PostalAddress","streetAddress":"Vyšehradská 49/320","postalCode":"128 00","addressLocality":"Praha 2","addressCountry":"CZ"}}</script>
hasMasonry: true
hasForm: true
---

<div class="post-10 page type-page status-publish hentry" id="page-10">
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-3x grve-padding-bottom-3x grve-bg-none grve-headings-primary-1">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-6">
          <div class="grve-column-wrapper"></div>
        </div>
        <div class="grve-column wpb_column grve-column-2-3 grve-headings-primary-2 .hero grve-align-center"
          style="color:#010e52;">
          <div class="grve-column-wrapper vc_custom_1631922855793 grve-shadow-small grve-with-shadow">
            <div class="grve-element grve-text">
              <h1><strong>Říkáte si „na angličtinu už je pozdě"? Není.</strong></h1>
                            <p><strong><a href="tel:+420605477433">Otevřeli jsme podzimní semestr. Zavolejte +420 605 477 433</a></strong> a zjistěte, jestli
                je ještě volné místo.</p>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-6">
          <div class="grve-column-wrapper"></div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper">
      <div class="grve-bg-image grve-bg-center-center grve-bg-image-id-21"
></div>
      <div class="grve-bg-overlay grve-bg-primary-1 grve-opacity-10"></div>
    </div>
  </div><!-- Row Backgrounds -->
  <div class="upb_bg_img" data-animation-repeat="repeat" data-bg-animation="left-animation" data-bg-animation-type="h"
    data-bg-img-position="" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-override="full"
    data-bg_img_attach="scroll" data-custom-vc-row="" data-fadeout="" data-fadeout-percentage="30" data-image-id="21"
    data-img-parallax-mobile-disable="true" data-is_old_vc="" data-overlay="false" data-overlay-color=""
    data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size="" data-parallax-content=""
    data-parallax-content-sense="30" data-parallx_sense="30" data-row-effect-mobile-disable="true" data-rtl="false"
    data-theme-support="" data-ultimate-bg="url(/photos/kvetiny.jpg)" data-ultimate-bg-style="vcpb-default"
    data-upb-bg-animation="" data-upb-overlay-color="" data-vc="6.7.0"></div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-3x grve-padding-bottom-3x grve-bg-none"
    id="cotoje">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1631923806009">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-26076a0da93ec5f91 uvc-9243"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-26076a0da93ec5f91"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-26076a0da93ec5f91 h2">
                <h2 style="font-weight:bold;">Co je Teaspoon Club?</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <p dir="ltr"><strong>Angličtina pro seniory…</strong></p>
              <p dir="ltr"><strong>Možná si říkáte: „To už není pro mě." „To nemá smysl."</strong></p>
              <p dir="ltr"><strong>Přitom tajně toužíte se opět něčemu novému učit?</strong></p>
              <p dir="ltr"><strong>Zvládnete to i vy! </strong></p>
              <p dir="ltr"><strong>Jmenuji se Alžběta Rychtecká a se svým týmem učím seniory angličtinu.</strong>
              </p>
              <p dir="ltr">Naše kurzy probíhají v malých skupinkách, a tak vám můžeme slíbit velmi osobní přístup
                i tempo.</p>
              <p dir="ltr">Žádné lavice, jen příjemně neformální prostředí, kde se nemusíte bát na cokoli zeptat. Náš
                koncept se kapku inspiroval tradicí anglických čajových klubů. Přijďte k nám na šálek čaje, u kterého si
                budete moci poklábosit s vrstevníky, a ještě se naučíte novému jazyku.</p>
              <p dir="ltr">Tahle aktivita vás chytne za úsměv a nepustí.</p>
              <p dir="ltr">Zkuste to, je čas 🙂</p>
              <blockquote>
                <p>Jako současná studentka mohu jen potvrdit, že v Teaspoon Clubu je příjemná atmosféra 😊. Získala
                  jsem nejen skvělou lektorku, ale i nové kamarádky, se kterými se scházíme i po angličtině.</p>
                <footer>Marie Pejřimovská</footer>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1630628940330">
            <div class="ult-spacer spacer-6a0da93ec612d" data-id="6a0da93ec612d"
              style="clear:both;display:block;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-3x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1630631738595">
            <div class="ult-spacer spacer-6a0da93ec6298" data-id="6a0da93ec6298"
              style="clear:both;display:block;"></div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1631923825709">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-16546a0da93ec633d uvc-6962"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-16546a0da93ec633d"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-16546a0da93ec633d h2">
                <h2 style="font-weight:bold;">Proč začít?</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <p dir="ltr"><strong>Cvičte mysl</strong>. Nenechte hlavu na holičkách a nabídněte jí pomocnou aktivitu.
                Váš mozek si bude mlaskat.  Učení cizímu jazyku udržuje myšlení svěží, úsudek ostrý a paměť spolehlivou.
              </p>
              <p dir="ltr">Tak, jako v anglických čajových klubech, i u nás díky <strong>hravému stylu výuky, malým
                  skupinkám do 12 lidí a šálku čaje, kávy </strong>a něčemu malému na zub panuje <strong>příjemná
                  neformální atmosféra</strong>.</p>
              <p dir="ltr"><strong>Pravidelnost</strong>. Každý týden něco, na co se můžete těšit.</p>
              <p dir="ltr"><strong>Přijďte na i na vánoční besídku nebo setkání kurzu ke konci roku</strong>. Jednou za
                čas pořádáme klubová setkání s vánočním programem, v angličtině i češtině a celkově si počínáme jako
                dobrá parta, kde se každý cítí vítán 🙂</p>
              <p dir="ltr">Pokud budete s úkoly, texty nebo třeba jen se  slovíčkem v koncích, jsem vám k dispozici,
                <strong>zavolejte a já vám poradím</strong>.</p>
              <p>A na závěr to nejlepší. Získáte milé známé, <strong>angličtina</strong> s nimi bude potěšením a dokonce
                i <strong>koníčkem!</strong></p>
              <blockquote>
                <p>Kromě neotřelého způsobu Alžbětiny výuky a naprosté profesionality, oceňuji neformální lidský přístup
                  a především nezapomenutelnou osobnost, která Vás nikdy nepřestane bavit.</p>
                <footer>Nora Rotterová</footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-3x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1631923836220">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-17646a0da93ec659d uvc-3801"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-17646a0da93ec659d"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-17646a0da93ec659d h2">
                <h2 style="font-weight:bold;">Jakým stylem rády učíme?</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text">
              <div class="layers-widget-column-9-150 layers-masonry-column layers-widget-column-150 span-6 first column"
                id="layers-widget-column-9-150">
                <div class="media image-right medium">
                  <div class="media-body text-left">
                    <div class="excerpt">
                      <ul>
                        <li>Na svých kurzech <strong>máme nejraději pohodovou atmosféru</strong>, kde se každý cítí
                          dobře….</li>
                        <li>A tak žádné lavice, jen příjemně neformální<strong> prostředí, kde se nemusíte bát na cokoli
                            zeptat</strong>. Náš koncept se kapku inspiroval tradicí anglických čajových klubů. Přijďte
                          k nám na šálek čaje, u kterého si budete moci poklábosit s vrstevníky, a ještě se naučíte
                          novému jazyku.</li>
                        <li>
                          <p dir="ltr">Říká se, že <strong>opakování </strong>je matka moudrosti. My tvrdíme, že je to
                            její babička. Často proto opakujeme, a to <strong>zábavnou formou</strong>. Měníme aktivity
                            tak, aby bavily nejen studenty, ale i nás. A prý je to poznat!</p>
                        </li>
                        <li>
                          <p dir="ltr"><strong>Tempo kurzu</strong> je pohodové, <strong>vhodné i pro aktivní
                              seniory</strong>.</p>
                          <p dir="ltr">Budeme na vás mluvit anglicky, když ale něco nechytíte, dovolíme si půjčit
                            slovíčko z jazyka českého. Musíme si přeci rozumět 🙂</p>
                        </li>
                        <li>
                          <p dir="ltr"><strong>Nemusíte trefit úroveň napoprvé.</strong> Během prvních lekcí spolu poznáme, jestli
                            vám skupina sedí. Pokud ne, najdeme řešení — nejčastěji přechodem do jiné z našich
                            šesti skupin. 🙂</p>
                        </li>
                      </ul>
                      <p><strong>Co všechno se naučíte:</strong></p>
                      <ul>
                        <li><strong>Mluvit a rozumět v angličtině</strong> během různých situací — v obchodě,
                          na cestách, s rodinou v zahraničí. V angličtině postupně i automaticky reagovat,
                          ale to chce čas 🙂</li>
                        <li><strong>Pracovat se slovní zásobou</strong>, a především díky novým slovíčkům
                          <strong>trénovat paměť</strong> — malé kroky, které se sčítají.</li>
                        <li><strong>Porozumět lépe jazyku nových médií</strong>, která často bývají v angličtině…
                          například internet, různé počítačové programy nebo návody k novým spotřebičům.</li>
                        <li><strong>Číst materiály z každodenního života</strong> — knihy, noviny, úřední
                          dokumenty a třeba i dopisy od vnoučat 🙂</li>
                        <li>A hlavně: <strong>být na sebe aspoň trochu hodní</strong> a promíjet si „to, že
                          si nemohu vzpomenout" nebo „to, že hned plynule nemluvím". Všechno má svůj čas.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-2">
          <div class="grve-column-wrapper vc_custom_1630632287037">
            <div class="ult-spacer spacer-6a0da93ec66ee" data-id="6a0da93ec66ee"
              style="clear:both;display:block;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none"
    id="clenstvi">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-86236a0da93ec68bf uvc-518"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-86236a0da93ec68bf"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-86236a0da93ec68bf h2">
                <h2 style="font-weight:bold;">Nabídka kurzů</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-bottom-3x grve-bg-none grve-custom-height grve-equal-column">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper vc_custom_1631926628455">
            <div class="grve-element grve-image rounded grve-align-center" style="margin-bottom: 1em;">
              <div class="grve-image-wrapper">{% image "zacatecnici.jpg", "", "(max-width: 768px) 100vw, 768px" %}</div>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-27866a0da93ec6dde uvc-768"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-27866a0da93ec6dde"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-27866a0da93ec6dde h3">
                <h3 style="font-weight:bold;">Teaspoon<br />


                  Starter Club</h3>
              </div>
              <div class="uvc-sub-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-27866a0da93ec6dde .uvc-sub-heading "
                style="font-weight:normal;margin-bottom:0.5em;">úplní začátečníci</div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#010e52;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text fit">
              <p>Přihlaste se na kurzy angličtiny, ve kterých si rozšíříte jazykové obzory, <strong>potrénujete mysl
                  a seznámíte se s dalšími vrstevníky se stejnou motivací</strong>. Společně to zvládneme!</p>
              <p>1x týdně, 90 minut</p>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-76866a0da93ec6ebf uvc-8420"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-76866a0da93ec6ebf"
              style="text-align:left">
              <div class="uvc-heading-spacer line_only" style="margin-top:1em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#010e52;width:autopx;"></span></div>
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-76866a0da93ec6ebf h3">
                <h3 style="font-weight:bold;margin-top:0.5em;margin-bottom:1em;">3 600 Kč/pololetí</h3>
              </div>
            </div>
            <div class="grve-element grve-align-left rounded"><a
                class="grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-bg-hover-primary-2 rounded"
                href="/teaspoon-starter-club/" title="Teaspoon Starter Club"><span>Další informace…</span></a></div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper vc_custom_1631926996042">
            <div class="grve-element grve-image rounded grve-align-center" style="margin-bottom: 1em;">
              <div class="grve-image-wrapper">{% image "pokrocili.jpg", "", "(max-width: 768px) 100vw, 768px" %}</div>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-44366a0da93ec72d9 uvc-1409"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-44366a0da93ec72d9"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-44366a0da93ec72d9 h3">
                <h3 style="font-weight:bold;color:#a20802;">Teaspoon<br />


                  Explorer Club</h3>
              </div>
              <div class="uvc-sub-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-44366a0da93ec72d9 .uvc-sub-heading "
                style="font-weight:normal;margin-bottom:0.5em;">(velmi) mírně pokročilí a začátky konverzace
                </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#010e52;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text fit">
              <p>Už jste se někdy s angličtinou potkali, možná něco pozapomněli a něco utkvělo? Pak by pro vás byly
                ideální moje <strong>skupinky mírně i více pokročilých</strong>. Ničeho se není třeba obávat,
                <strong>paměť oprášíme, mezery doplníme</strong> a celkově znalosti přeleštíme 🙂</p>
              <p>1x týdně, 90 minut</p>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-85766a0da93ec73b7 uvc-7305"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-85766a0da93ec73b7"
              style="text-align:left">
              <div class="uvc-heading-spacer line_only" style="margin-top:1em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#010e52;width:autopx;"></span></div>
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-85766a0da93ec73b7 h3">
                <h3 style="font-weight:bold;color:#a20802;margin-top:0.5em;margin-bottom:1em;">3 800 Kč/pololetí</h3>
              </div>
            </div>
            <div class="grve-element grve-align-left rounded"><a
                class="grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-bg-hover-primary-2 rounded"
                href="/teaspoon-explorer-club/" title="Teaspoon Explorer Club"><span>Další informace…</span></a></div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper vc_custom_1631926653401">
            <div class="grve-element grve-image rounded grve-align-center" style="margin-bottom: 1em;">
              <div class="grve-image-wrapper">{% image "konverzace-e1631952057161.jpg", "", "(max-width: 768px) 100vw, 768px" %}</div>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-92856a0da93ec77d0 uvc-5899"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-92856a0da93ec77d0"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-92856a0da93ec77d0 h3">
                <h3 style="font-weight:bold;color:#705e14;">Teaspoon<br />


                  Conversation Club</h3>
              </div>
              <div class="uvc-sub-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-92856a0da93ec77d0 .uvc-sub-heading "
                style="font-weight:normal;margin-bottom:0.5em;">praktická konverzace</div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#010e52;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-text fit">
              <p>Konverzační klub vás zahalí do příjemně odpočinkové atmosféry, která vás bude vyzývat k výměně
                informací, znalostí, a hlavně učení se. Zaměříte se na <strong>upevnění</strong><strong> gramatiky
                  a slovíček, ale především</strong> také na <strong>praktická témata ze života</strong>.</p>
              <p>1x týdně, 90 minut</p>
            </div>
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-78016a0da93ec788d uvc-2944"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-78016a0da93ec788d"
              style="text-align:left">
              <div class="uvc-heading-spacer line_only" style="margin-top:1em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#010e52;width:autopx;"></span></div>
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-78016a0da93ec788d h3">
                <h3 style="font-weight:bold;color:#705e14;margin-top:0.5em;margin-bottom:1em;">3 900 Kč/pololetí</h3>
              </div>
            </div>
            <div class="grve-element grve-align-left rounded"><a
                class="grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-bg-hover-primary-2 rounded"
                href="/teaspoon-conversation-club/" title="Teaspoon Conversation Club"><span>Další informace…</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-63106a0da93ec7bae uvc-1021"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-63106a0da93ec7bae"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-63106a0da93ec7bae h2">
                <h2 style="font-weight:bold;">Přihláška ke kurzům</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-row-inner grve-bookmark">
              <div class="grve-column-inner wpb_column grve-column-2-3">
                <div class="grve-column-wrapper-inner">
                  {% include "form-caldera-registration.njk" %}
                </div>
              </div>
              <div class="grve-column-inner wpb_column grve-column-1-3">
                <div class="grve-column-wrapper-inner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-align-left rounded"><a
                class="grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-bg-hover-primary-2 rounded"
                href="/obchodni-podminky/" title="Obchodní podmínky"><span>Obchodní podmínky</span></a></div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper">
            <div class="grve-element grve-align-left rounded"><a
                class="grve-btn grve-btn-small grve-round grve-bg-primary-1 grve-bg-hover-primary-2 rounded"
                href="/clenstvi-jako-darek/" title="Členství jako dárek"><span>Členství jako dárek</span></a></div>
          </div>
        </div>
        <div class="grve-column wpb_column grve-column-1-3">
          <div class="grve-column-wrapper"></div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
  <div
    class="grve-section grve-row-section grve-fullwidth-background grve-padding-top-1x grve-padding-bottom-1x grve-bg-none">
    <div class="grve-container">
      <div class="grve-row grve-bookmark grve-columns-gap-30">
        <div class="grve-column wpb_column grve-column-1">
          <div class="grve-column-wrapper">
            <div class="uvc-heading ult-adjust-bottom-margin ultimate-heading-57586a0da93ec99a1 uvc-2935"
              data-halign="left" data-hspacer="line_only" id="ultimate-heading-57586a0da93ec99a1"
              style="text-align:left">
              <div class="uvc-main-heading ult-responsive" data-responsive-json-new='{"font-size":"","line-height":""}'
                data-ultimate-target=".uvc-heading.ultimate-heading-57586a0da93ec99a1 h2">
                <h2 style="font-weight:bold;">Kde se setkáváme?</h2>
              </div>
              <div class="uvc-heading-spacer line_only" style="margin-bottom:1.5em;height:1px;"><span
                  class="uvc-headings-line"
                  style="border-style:solid;border-bottom-width:1px;border-color:#a20802;width:autopx;"></span></div>
            </div>
            <div class="grve-element grve-accordion">
              <ul class="grve-accordion-wrapper grve-action-accordion grve-style-1">
                <li>
                  <div class="grve-title-wrapper grve-tab-link grve-align-left" data-rel="#1631930447482-4627e63e-b961">
                    <div class="grve-accordion-arrow grve-accordion-chevron grve-position-left"><i
                        class="fa fa-chevron-down"></i></div>
                    <h3 class="grve-title grve-h4"></h3>
                  </div>
                  <div class="grve-accordion-content" id="1631930447482-4627e63e-b961">
                    <div class="grve-element grve-text">
                      <p><strong>Emauzské opatství</strong><br />
                        Vyšehradská 49/320<br />
                        128 00 Praha 2 – Nové Město</p>
                      <p>Vstup z ulice Na Slovanech.</p>
                      <p><strong>400 m od stanice metra B, Karlovo náměstí &amp; 300 m od zastávky tramvaje Moráň.</strong></p>
                      <p>V případě online kurzů pak v online místnosti na internetu přes naše výukové rozhraní
                        (odkaz od nás budete mít emailem).</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grve-background-wrapper"></div>
  </div>
</div>
